<div class="register-photo">
    <div class="container">
        <div  *ngIf="message2=='not login'">
            <div class="alert alert-danger" role="alert"><strong>Oh snap!</strong> You have entered an invalid username or password.</div>
          </div>
          <div  *ngIf="message2=='is login'">
              <div class="alert alert-success" role="alert"><span>You are login successfully!</span></div>
            </div>
       
    </div>
    <div class="form-container">
      <div class="row">
        <div class="image-holder col-6" style="background: url(./assets/img/meeting.jpg);"></div>
        <div class=" col-6" style="padding:50px" >
            <div *ngIf="str=='logOut'">
          <h2 class="text-center"><strong>LOGIN</strong></h2>
            <div class="form-group"><input class="form-control" type="text"  placeholder="Login" [(ngModel)]="username"  required></div>
            <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password" [(ngModel)]="password" required></div>
            <div class="form-group"></div>
            <div class="form-group"><button class="btn btn-success btn-block" (click)="onlogin(username,password)">Login</button></div><a href="#" class="already">You already have an account? Login here.</a>

            </div>

            <div  *ngIf="str=='login'">
              <button class="btn btn-success btn-block" (click)="onlogout()">LogOut </button>
            </div></div>
        </div>
    </div>
</div>


