
<div class="article-list">
    <div class="container">
        <div class="intro">
          <h2 class="text-center">My latest projects</h2>  
           <!--  <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>-->
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"  *ngFor="let sto of postdata"><img class="img-fluid" src="{{sto['acf']['imgprog']}}">
                <h3 class="name">{{sto['title']['rendered']}}</h3>
                <p class="description"  [innerHTML]="sto['excerpt']['rendered']"></p><a routerLink="/post/{{sto['id']}}" class="action"><i class="fa fa-arrow-circle-right"></i></a>
              </div>
        </div>
      </div>
</div>



  