  <!-- Page Content -->
  <div class="container">
    <!-- <div class="row">
          <div class="center-block" >
              <img class="img-fluid" src="{{title_pre}}" alt="">
          </div>
        </div>
      -->
      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">About  </h1>


      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="assets/img/adult-chill.png" alt="">
        </div>
        <div class="col-lg-6">
          <h2> {{title_post}}</h2>
          <p [innerHTML]="container"></p>
          
        </div>
      </div>
      <!-- /.row -->

      <!-- Team Members 
      <h2>Our Team</h2>

      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="">
            <img class="card-img-top" src="{{title_image}}" alt="">
            <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="">
            <img class="card-img-top" src="{{title_image}}" alt="">
            <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div >
            <img class="card-img-top" src="{{title_image}}" alt="">
            <div class="card-body">
              <h4 class="card-title">Team Member</h4>
              <h6 class="card-subtitle mb-2 text-muted">Position</h6>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus aut mollitia eum ipsum fugiat odio officiis odit.</p>
            </div>
            <div class="card-footer">
              <a href="#">name@example.com</a>
            </div>
          </div>
        </div>
      </div>-->
      <!-- /.row -->



    </div>
    <!-- /.container -->



    