<div data-bs-parallax-bg="true" style="height:500px;background-image:url(https://unsplash.it/1800/900?image=1051);background-position:center;background-size:cover;"></div>
<div></div>
<div class="projects-horizontal">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">My posts</h2>
            <p class="text-center">You must log in to view content!!! </p>
        </div>
        <div class="col-md-12">
            <div class="search-form">
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span></div>
                    <input class="form-control" type="text" placeholder="I am looking for.."  [(ngModel)]="searchtext" (ngModelChange)="onClickSearch(searchtext)">
                   <!-- <div class="input-group-append"><button class="btn btn-light" type="button">Search </button></div>-->
                </div>
            </div>
        </div>
        <div  *ngIf="message2=='is login'">
            <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> nothing was found!!!
              </div>
          </div>
        
        <div class="row projects">
            <div class="col-sm-6 item" *ngFor="let book of bookdata | paginate: { itemsPerPage: 4, currentPage: p }">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a  routerLink="/blog/{{book['id']}}"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
                    <div class="col">
                        <h3 class="name" [innerHTML]="book['title']['rendered']"></h3>
                        <p class="description" [innerHTML]="book['excerpt']['rendered']"></p>
                        <a  routerLink="/blog/{{book['id']}}">Read more »</a>
                    </div>
                </div>
            </div>
                
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>

