<!-- Section: Blog v.4 -->
<section class="">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Sample image">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
      <!-- Card -->

      <!-- Excerpt -->
      <div class="mt-5">
                <!-- Card content -->
                <div class="card-body card-body-cascade text-center">
                    <!-- Title -->
                    <h2 class="font-weight-bold" [innerHTML]="title"></h2>
                    <!-- Data -->
                   <!-- <p>Written by <a><strong>Abby Madison</strong></a>, 26/08/2018</p>-->
                  </div>
                  <!-- Card content -->
                  <hr class="mb-5 mt-4">   
                  <div class="container">      
        <p class=""[innerHTML]="content"> </p></div>     
      </div>
    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="mb-5 mt-4">

</section>
<!-- Section: Blog v.4 -->