

<div class="container-fluid2">
<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(12)}" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(10)}" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(15)}" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div class="container">
<!-- Page Content -->
<hr>

   <!-- Features Section -->
   <div class="row my-4">
      <div class="col-lg-6">

        <p [innerHTML]="container"></p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://picsum.photos/900/500?random&t=${Math.random()}" alt="">
      </div>
    </div>
    <!-- /.row -->
  
    <hr>
  
    <!-- Call to Action Section 
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn-floating btn-lg btn-indigo" href="#">Call to Action</a>
      </div>
    </div>
  -->

  <!--<h1 class="my-4">Welcome to Modern Business</h1>-->

  

  <!-- Portfolio Section -->
  <h2>latest works</h2>


  <!-- /.row -->

 

<div class="row">

    <div class="col-md-4"  *ngFor="let sto of postdata">

      <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="{{sto['acf']['imgprog']}}" class=""></mdb-card-img>
            <a     routerLink="/post/{{sto['id']}}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
    
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text">
              <i class="fa fa-wordpress"></i>Wordpress</h5>
            <!--Title-->
            <h4 class="card-title"> {{sto['title']['rendered']}}</h4>
            <!--Text-->
    
            <mdb-card-text [innerHTML]="sto['excerpt']['rendered']">
             
            </mdb-card-text>
    
    
          </mdb-card-body>
          <!--/.Card content-->
    
        </mdb-card>
        <!--/.Card--></div>
</div>

</div>