

<div class="container-fluid2">
<mdb-carousel [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(12)}" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(10)}" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="https://picsum.photos/900/500?random&t=${Math.random(15)}" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div class="container">
<!-- Page Content -->
<hr>

   <!-- Features Section -->
   <div class="row my-4">
      <div class="col-lg-6">

        <p [innerHTML]="container"></p>
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded" src="https://picsum.photos/900/500?random&t=${Math.random()}" alt="">
      </div>
    </div>
    <!-- /.row -->
  
    <hr>
  
    <!-- Call to Action Section 
    <div class="row mb-4">
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
      </div>
      <div class="col-md-4">
        <a class="btn-floating btn-lg btn-indigo" href="#">Call to Action</a>
      </div>
    </div>
  -->

  <!--<h1 class="my-4">Welcome to Modern Business</h1>-->

  

  <!-- Portfolio Section -->
  <h2>latest works</h2>


  <!-- /.row -->

 

<div class="row">

    <div class="col-md-4"  *ngFor="let sto of postdata">

      <mdb-card cascade="true" narrower="true">

          <!--Card image-->
          <div class="view view-cascade overlay waves-light" mdbWavesEffect>
            <mdb-card-img src="{{sto['acf']['imgprog']}}" class=""></mdb-card-img>
            <a     routerLink="/post/{{sto['id']}}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--/Card image-->
    
          <mdb-card-body cascade="true" class="text-center">
            <!--Card content-->
            <h5 class="pink-text">
              <i class="fa fa-wordpress"></i>Wordpress</h5>
            <!--Title-->
            <h4 class="card-title"> {{sto['title']['rendered']}}</h4>
            <!--Text-->
    
            <mdb-card-text [innerHTML]="sto['excerpt']['rendered']">
             
            </mdb-card-text>
    
    
          </mdb-card-body>
          <!--/.Card content-->
    
        </mdb-card>
        <!--/.Card--></div>
</div>
<section id="news" class="section news-section">

    <h1 class="section-heading text-center mb-5 mt-5 pt-4 font-weight-bold wow fadeIn" data-wow-delay="0.2s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.2s;">last post</h1>

    <hr class="between-sections">

    <!--Section: Design-->
    <div class="text-center mt-3 text-lg-left">

        <!--First row-->
        <div class="row pb-2 pt-3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

            <!--First column-->
            <div class="col-lg-3">

                <!--Image-->
                <div class="view overlay mb-3 z-depth-1">
                    <img src="https://picsum.photos/900/500?random&t=${Math.random()}" class="img-fluid z-depth-1" alt="Post Image">
                    <div class="mask rgba-white-slight"></div>
                </div>
                <!--/Image-->

            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-lg-9 add-margins-2">

                <!--Excerpt-->
                <h6 class="text-uppercase mb-3"><a href="#!" class="text-muted grey-text font-weight-bold">| 23 MAY 2017</a></h6>
                <h4 class="mb-3"><a href="#!" class="teal-text font-weight-bold pb-3">This is title of the news </a></h4>
                <p class="grey-text-3 font-thin" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <!--/Excerpt-->

            </div>
            <!--/Second column-->

        </div>
        <!--/First row-->

        <hr class="between-sections mt-4 mb-4">

        <!--Second row-->
        <div class="row pb-4 pt-3 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

            <!--First column-->
            <div class="col-lg-3">

                <!--Image-->
                <div class="view overlay mb-3 z-depth-1">
                    <img src="https://picsum.photos/900/500?random&t=${Math.random()}" class="card-img-top" alt="Post Image">
                    <div class="mask rgba-white-slight"></div>
                </div>
                <!--/Image-->

            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-lg-9 add-margins-2">

                <!--Excerpt-->
                <h6 class="text-uppercase mb-3"><a href="#!" class="text-muted grey-text font-weight-bold">| 23 MAY 2017</a></h6>
                <h4 class="mb-3"><a href="#!" class="teal-text font-weight-bold">This is title of the news</a></h4>
                <p class="grey-text-3 font-thin" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
                <!--/Excerpt-->

            </div>
            <!--/Second column-->

        </div>
        <!--/Second row-->

        <hr class="between-sections mt-4 mb-4">

        <!--Third row-->
        <div class="row mb-3 pt-4 wow fadeIn" data-wow-delay="0.4s" style="visibility: visible; animation-name: fadeIn; animation-delay: 0.4s;">

            <!--First column-->
            <div class="col-lg-3">

                <!--Image-->
                <div class="view overlay mb-3 z-depth-1">
                    <img src="https://picsum.photos/900/500?random&t=${Math.random()}" class="img-fluid z-depth-1" alt="Post Image">
                    <div class="mask rgba-white-slight"></div>
                </div>
                <!--/Image-->

            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-lg-9 add-margins-2">

                <!--Excerpt-->
                <h6 class="text-uppercase mb-3"><a href="#!" class="text-muted grey-text font-weight-bold pb-1">| 31 JUN 2017</a></h6>
                <h4 class="mb-3"><a href="#!" class="teal-text font-weight-bold pb-3">This is title of the news</a></h4>
                <p class="grey-text-3 font-thin" align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
                <!--/Excerpt-->

            </div>
            <!--/Second column-->

        </div>
        <!--/Third row-->

    </div>

</section>
</div>