.container-fluid2{
    padding:0!important;
    margin: 0;
}

@media only screen and (max-width: 960px) {
    .active {
         margin: -200px 0!important;

    }

}



mdb-card:hover {
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);
}

mdb-card {
    filter: gray;
    -webkit-filter: grayscale(1);
    -webkit-transition: all .8s ease-in-out;
}

.view.view-cascade.overlay.waves-light {
    height: 200px;
}

.col-md-4 {
    padding-bottom: 20px;
}