<div class="paralaxmy" data-bs-parallax-bg="true" style="height: 500px;background-image: url(/assets/img/wp.jpg);background-position: center;background-size: cover;"></div>
<!--<div class="highlight-clean" *ngIf="loading">
    <div class="container">
        <div class="intro">
            <h2 class="text-center text-light">L &nbsp; O &nbsp; A &nbsp; D &nbsp; I &nbsp; N &nbsp; G &nbsp; . &nbsp;. &nbsp;.</h2>
        </div>
        <div class="buttons"></div>
    </div>
</div>-->
<section class="clean-block clean-info dark">
    <div class="container">
        <div class="block-heading"></div>
        <div class="row align-items-center">
            <div class="col-md-6"><img class="img-thumbnail" src="assets/img/adult-chill.png"></div>
            <div class="col-md-6">
               <!-- <h3>Lorem impsum dolor sit amet</h3>-->
                <div class="getting-started-info">
                    <p [innerHTML]="container"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="brands"><a href="#"> <i class="icon ion-social-wordpress padleft"></i><i class="fab fa-php icon padleft"></i><i class="fab fa-js-square icon padleft"></i><i class="fab fa-html5 icon padleft"></i><i class="fab fa-css3 icon padleft"></i><i class="fab fa-angular icon padleft"></i></a></div>
<div
    class="projects-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">My last six projects</h2>
            <p class="text-center"></p>
        </div>
        <div class="row projects" >

            <div class="col-sm-6 col-lg-4 item" *ngFor="let sto of postdata">
                <a     routerLink="/post/{{sto['id']}}">
              <img class="img-fluid" src="{{sto['acf']['imgprog']}}">
                <h3 class="name"> {{sto['title']['rendered']}}</h3>
                <p class="description" [innerHTML]="sto['excerpt']['rendered']"></p>
                </a>
            </div>


        </div>
    </div>
    </div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">My last six posts</h2>
                <p class="text-center">You must log in to view content!!! </p>
            </div>
            <div class="row justify-content-center features">

                <div class="col-sm-6 col-md-5 col-lg-4 item" *ngFor="let book of bookdata">
                    <div class="box"><i class="icon ion-social-wordpress icon"></i>
                        <h3 class="name" [innerHTML]="book['title']['rendered']"></h3>
                        <p class="description" [innerHTML]="book['excerpt']['rendered']"></p><a routerLink="/blog/{{book['id']}}" class="learn-more">Read more »</a></div>
                </div>

            </div>
        </div>
    </div>