    <nav class="navbar navbar-dark navbar-expand-md fixed-top bg-dark p-0">
      <div class="container"><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav flex-grow-1 justify-content-between">
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home"><i class="icon ion-ios-home apple-logo"></i></a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/home">Home</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/about">About</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/portfolio">Portfolio</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/myblog">Blog</a></li>
                  <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/contacts">Contacts</a></li>

                  <li class="nav-item" role="presentation">
                    <a class="nav-link" routerLink="/login">
                      <span *ngIf="str=='logOut'">
                        <i class="icon ion-log-in"></i>Log in
                      </span>
                      <span *ngIf="str=='login'">
                        <i class="icon ion-log-out"></i>Log out
                      </span>
                </a>
              </li>
              </ul>
          </div>
      </div>
  </nav>